In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('adult.data.csv')
df.tail()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [4]:
race_count = df['race'].value_counts()
race_count

White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: race, dtype: int64

In [5]:
men = df[df['sex'] == 'Male']
average_age_men = men['age'].mean()
average_age_men

39.43354749885268

In [6]:
percentage_bachelors = df['education'][df['education'] == 'Bachelors'].count()/df['education'].count() * 100
percentage_bachelors

16.44605509658794

In [7]:
# with and without `Bachelors`, `Masters`, or `Doctorate`
higher_education = df[(df['education'] == 'Bachelors') | (df['education'] == 'Masters')| (df['education'] == 'Doctorate')]
lower_education = df[~((df['education'] == 'Bachelors') | (df['education'] == 'Masters')| (df['education'] == 'Doctorate'))]

# percentage with salary >50K
higher_education_rich = higher_education['salary'][higher_education['salary'] == '>50K'].count()/higher_education['salary'].count() * 100
lower_education_rich = lower_education['salary'][lower_education['salary'] == '>50K'].count()/lower_education['salary'].count() * 100

In [8]:
# What is the minimum number of hours a person works per week (hours-per-week feature)?
min_work_hours = df['hours-per-week'].min()
min_work_hours

1

In [9]:
# What percentage of the people who work the minimum number of hours per week have a salary of >50K?
num_min_workers = df['hours-per-week'][(df['hours-per-week'] == min_work_hours) & (df['salary'] == '>50K')].count()/df['hours-per-week'].count()  * 100

rich_percentage = num_min_workers

In [28]:
# What country has the highest percentage of people that earn >50K?
highest_earning_country = df[['native-country','salary']][df['salary'] == '>50K'].value_counts()
highest_earning_country_percentage = highest_earning_country.max()/df['salary'].count() * 100

native-country      salary
United-States       >50K      7171
?                   >50K       146
Philippines         >50K        61
Germany             >50K        44
India               >50K        40
Canada              >50K        39
Mexico              >50K        33
England             >50K        30
Italy               >50K        25
Cuba                >50K        25
Japan               >50K        24
China               >50K        20
Taiwan              >50K        20
Iran                >50K        18
South               >50K        16
Poland              >50K        12
France              >50K        12
Puerto-Rico         >50K        12
Jamaica             >50K        10
El-Salvador         >50K         9
Greece              >50K         8
Cambodia            >50K         7
Yugoslavia          >50K         6
Hong                >50K         6
Ireland             >50K         5
Vietnam             >50K         5
Ecuador             >50K         4
Haiti               >50K         4
Portugal            >50K         4
Scotland            >50K         3
Thailand            >50K         3
Hungary             >50K         3
Guatemala           >50K         3
Laos                >50K         2
Dominican-Republic  >50K         2
Peru                >50K         2
Trinadad&Tobago     >50K         2
Columbia            >50K         2
Nicaragua           >50K         2
Honduras            >50K         1
dtype: int64

In [34]:
# Identify the most popular occupation for those who earn >50K in India.
top_IN_occupation = df['occupation'][(df['salary'] == '>50K') & (df['native-country'] == 'India')].value_counts()
top_IN_occupation

Prof-specialty      25
Exec-managerial      8
Other-service        2
Tech-support         2
Transport-moving     1
Sales                1
Adm-clerical         1
Name: occupation, dtype: int64